[defaults]
remote_user = ubuntu   
become = yes
become_method = sudo
become_ask_pass = no
allow_world_readable_tmpfiles = true 
host_key_checking = False
ansible_python_interpreter = /usr/bin/python3
collections_path = ~/.ansible/collections:/usr/share/ansible/collections